.navigation
{
  position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	width: 100%;
	margin-top: 0;
	padding: 0px;
	background: black;
	justify-content: center;
}
.navigation div
{
	padding: 0px;
	justify-content: center;
	display: flex;
}
/* Navigation Links */
.navitem
{
	float: left;
	margin: 5px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navitem:hover{
	background-color:#25ac05;
	cursor:pointer;
}
/* Navigation bar, logged in text. */
.usertext
{
	margin-top: 20px;
	margin-left: auto;
	margin-right: 10px;
	color: white;
	text-align: center;
	text-decoration: none;
}
